{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FK Ocean</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
</head>

<body>
    <!--Barra de Navegação-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">FK Ocean</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Politica</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contato</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <!--Barra de informação-->
    <section class="informacao">
        <h1>Bem-vindo ao meu blog</h1>
        <h3>Aqui espero que encontre o que procura na sua longa caminhada.<br>Boa sorte amigo!</h3>
    </section>

    <!--Posts-->
    {% for p in post %}
      <div class="container">
        <h1>{{p.titulo}}</h1>
        <p>{{p.autor}} | {{p.criado_em}}</p><h3>{{p.slug}}</h3>
        <a href="{% url 'post' p.id %}"><button>Ler mais</button></a>
      </div>
    {% endfor %}

    <!--Sobre-->
    <div class="Sobre">
        <h2 class="card-header">Sobre</h2>
        <div class="card-body">
          <p>Sou um blog super interessante, busco te fornecer a informação que procura,
          ainda estou em desenvolvimento então peço que tenha paciencia comigo.</p>
          <a href="#"><button>Saiba mais!</button></a>
        </div>
    </div>

    <footer class="Rodape">
        &copy; Todos os direitos reservados a Fabio Kauan 
    </footer>



</body>
</html>