body {
    font-family: Helvetica;
    background-color:rgb(144, 224, 238);
    padding: 0; 
    margin: 0;
}

/* Barra de Navegação */
nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #ff8800;
    align-items: center;
}

nav ul {
    display: flex; 
    list-style: none;
}

nav ul li a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

nav h2 a {
    text-decoration: none;
    color: white;
}

.divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:102px;
    font-weight:bold;
    background:#5F9EA0;
  }

/* Barra de informação */
.informacao {
    text-align: center;
    color: white;
    height: 150px;
    padding: 15px;
    background-color: #0066ff;
}

/* Post */
.container {
    width: 1000px;
    margin-top: 50px;
    margin-left: 120px;
    padding: 20px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.container button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.container a {
    text-decoration: none;
}

/* Sobre */
.Sobre {
    margin-top: -550px;
    margin-left: 1350px;
    width: 500px;
}

.card-header {  
    background-color: rgb(165, 162, 170);
    padding: 5px;
    text-align: center;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.card-body {
    text-align: left;
    padding: 5px;
    margin-top: -21px;
    background-color: white;
    border: solid 1px white;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.Sobre button {
    align-items: center;
    background-color: #f70000;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }

.Sobre a {
    text-decoration: none;
}

/* Rodapé */
.Rodape {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
    position: fixed;
    background-color: #ffffff;
}